*{
 margin:0
}

body{
 margin:0;
 font-family: "Circular Std";
 font-size: 17px;
 line-height: 1.6;
 color: white;
 background-color: #F3F5F7;
 overflow-x: hidden
}
#navbar{
 background-color: #2274F0;
 overflow: hidden;
 height: 60px;
 width: 100%;
 position: fixed; 
}
#navbar img{
 float: left;
 height: 60px;
 width: 180px;
 margin-left: 20px;
}
#navbar li a{
 float:right;
 display:block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}
#navbar li a:hover{
 background-color: white;
 color: black
}
#navbar ul{
 margin: 5px 0 0px 0;
 list-style: none
}
#navbar ul li{
 margin-right: 50px;
}
#sidemenu{
 height: 100%;
 width: 0;
 position: fixed;
 z-index: 1;
 top:0;
 right:0;
 background-color: #111;
 opacity: 0.9;
 overflow-x: hidden;
 padding-top: 60px;
 transition: 0.8s;
}

#sidemenu a{
 padding: 10px 10px 10px 30px;
 text-decoration: none;
 font-size: 22px;
 color:#ccc;
 display:block;
 transition: 0.5s
}
#close{
 position: absolute;
 top: 0;
 right: 22px;
 font-size: 36px;
 margin-left: 50px;
 

 }


#middle img{
 height:70px;
 width:220px;
 margin-top: 80px;
 
}
#background{
 background-image: url("landing3.jpg");
 background-size: cover;
 background-position: center;
 overflow: hidden;
 width: 100%
}
 

#middle{
 height: 100vh;
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center
}

p{
 font-size: 20px;
 margin:0;
 color: white
}

h1{
 font-size:40px;
 margin:0
}
#ad img{
 margin-top:0;
 height: 300px;
 width: 300px;
 border-radius: 100%
}
#ad{
 background-color: aliceblue;
 max-width: 900px;
 max-height: 400px;
 margin-top: 0;
 margin: auto;
 overflow: hidden;
 padding: 4rem 1rem;
display: grid;
grid-gap: 1px;
grid-template-columns: repeat(2, 1fr) ;
color:black;
text-align: center
}
b{
 color:#2274F0
}

#ad h2{
 color:grey;
 margin-top: 25%;
 font-size: 30px;
}
#ad p{
 margin-top: 5%;
 color: black;
 font-size: 16px
}
input{
 background-color: #2274F0;
 color:white;
 height:40px;
 width:30%;
 border:none;
 margin: 10px;
 padding: 5px;
 text-align: center;
 border-radius: 20px;

}
input:hover{
 background-color: #F2FBFF;
 color: black;
}
a{
 text-decoration: none
}
#numbers{
 overflow: hidden;
display: grid;
grid-gap: 1px;
grid-template-columns: repeat(4, 1fr) ;
color:white;
text-align: center;
 background-color: #2274F0
}
#numbers h3{
margin:20px;
}


footer{
 background-color: #0E657F;
 bottom: 0
}

#footbar{
 background-color: aliceblue;
 color:black;
 max-height: 20px;
 width: 100%;
 margin: auto;
 overflow: hidden;
 padding: 4rem 1rem;
 display: grid;
 bottom: 0;
 grid-gap: 100px;
 grid-template-columns: repeat(3, 1fr);
}
#copy{
 text-align: center;
 margin-top: 7%;
 font-size: 13px 
}

#footbar h2{
 text-align: center;
 color:#2274F0;
 font-size: 16px;
 margin-top:0
}
#footbar p{
 padding-left: 120px;
 font-size: 13px;
 color:black
}
@media(max-width:768px){
 #navbar ul{
  display:none
 }
}

@media(min-width:769px){
 #open{
  display:none
 }
}
@media(max-width:368px){
 body{
  overflow-x: hidden;
 }

#footbar{
 display: none;
 grid-template-columns: 1fr;
}
#middle h1{
font-size: 30px;
margin: 0 5px
}
#ad img{
 display:none;
}
#numbers{
 display: none
}
#ad{
 grid-template-columns: 1fr;
}
#open{
 margin-left:30%;
 margin-top: 50%
}
} 